[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
debtcollector = "*"
future = "*"
pytest = "*"
flake8 = ">=3.5.0"
pylint = ">=2.0.0"
yamllint = ">=1.11.0"
tox = ">=3.0.0"
sphinx = "*"
pytest-xdist = ">=1.22.0"
doubles = "*"
pytest-watch = ">=4.2.0"
black = "==18.6b4"
isort = "*"
semver = "*"
coverage = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
